@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", serif;
  background-color: #1b2b34;
  color: white;
  margin: 0;
  padding: 0;
}

.top-container {
  margin-left: 40%;
}

.top-title {
  background: linear-gradient(to right, #aaff8c, #6b95ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
  margin: auto;
  position: absolute;
}

.first-section {
  height: 100vh;
  background-image: url("../assets/dev-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .1;
}
